# Игнорировать временные и системные файлы
*.log
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
__pycache__/

# Игнорировать локальные данные Redis
data/

# Игнорировать Docker Compose override файлы, если имеются
docker-compose.override.yml

# Игнорировать файлы конфигураций IDE и редакторов
*.iml
*.sublime-project
*.sublime-workspace

# Игнорировать node_modules, если они есть (для фронтенда, если проект расширится)
node_modules/

# Игнорировать .env или другие секретные файлы, если они есть
.env

# Игнорировать все файлы и папки, начинающиеся с точки, кроме директории conf
.* 
!conf/
